<form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column">

  <mat-form-field>
    <input matInput type="email" placeholder="Email" [class.is-danger]="email.invalid && email.dirty" formControlName="email"
      required autocomplete="off">
    <mat-hint *ngIf="email.invalid && email.dirty" class="notification is-danger">
      Your email doesn't look quite right...
    </mat-hint>
  </mat-form-field>


  <mat-form-field>
      <input matInput type="password" placeholder="Password" [class.is-danger]="password.invalid && password.touched"
        formControlName="password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="button is-primary" [disabled]="!loginForm.valid">Submit</button>

</form>
